* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #131313;
	color: #fff;
}

a {
	color: #ccc;
	text-decoration: none;
	outline: 0;
}

a:hover {
	color: #fff;
}

/* loading/error messages */
h4 {
	text-align: center;
	padding-top: 64px;
	color: #888;
}

.info {
	text-align: center;
}

.info h5 {
	padding-top: 16px;
	padding-bottom: 24px;
}

.info p {
	font-size: 10px;
	color: #ccc;
}